<div class="container" style="width: 100%; height:100%; background-color: #000;">

  <div class="container_about">

    <div class="img_container">
      <img src="/guida.png">
    </div>
    
    <div class="text_container">
      <br>
      <br>
      <p>
        This application displays information about the level of moto ondoso and in traffic in the Venetian canals for recent conditions as well as for periods since 2001.  Colors closer to green indicate lower levels of traffic and moto ondoso, while colors closer to red indicate higher levels.  It is important to note that green levels are not necessarily safe for the canals.
      </p>
      <h2>Moto Ondoso Reductions</h2>
      <p>
        Drag the sliders to see the effects of various proposed plans to reduce moto ondoso.
      </p>
    
      <h2>Traffic Reductions</h2>
      <p>
        Drag the sliders to see the effects of various proposed plans to reduce traffic.
      </p>
    
      <h2>Traffic from Past Campaigns</h2>
      <p>
        Drag the slider to see moto ondoso data from different campaigns.
      </p>
    
      <h2>Moto Ondoso from Past Campaigns</h2>
      <p>
        Drag the slider to see traffic data from different campaigns.
      </p>
    
      <h2>Credits</h2>
      <p>
        This visualization was produced in 2013 by the WPI Venice Project Center Boats Team: Alexander Solomon (Programmer), Alexander Bennett, Stephen Petry and Samuel Hastings.
      </p>

      <h2>Data source</h2>
      <p>
        The data were obtained from COSES and from past WPI Venice Project Center teams.
      </p>
    </div>
  </div>
  <div class="back">
    <a class="guida" rel="nofollow" href="/">
      <span ng-click="backToMap()">Back to the App</span>
    </a>
  </div>
</div>

<style type="text/css">
.container{
  font: 14px/16px Arial, Helvetica, sans-serif;
}
.container_about{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'img text';
  margin-left: 15px;
  margin-right: 15px;
  place-self: center;
}

.img_container{
  grid-area: img;
  place-self: center;
}
.img_container img{
  width: 95%;
}

.text_container{
  grid-area: text;
  place-self: center;
}
.text_container h2{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.text_container  p{
  margin: 0;
  color: #fff;
}

.title h1{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color:#fff;
}

.guida{
  margin-top: 15px;
  border: solid 1px #ffffff;
  background: transparent;
  border-radius: 50px;
  padding: .7em 2.4em;
  cursor: pointer;
  transition: .3s ease-in-out;
  min-width: 120px;
  display: inline-grid;
  max-height: 30px;
  color: #ffffff;
  text-decoration: none;
}


.guida span{
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .05em;
  transition: .3s ease-in-out;
  margin: 0 !important;
  place-self: center;
}

.guida::hover {
  animation: shinehover 2s infinite ease-in-out;
  transition: .3s;
}

.guida::hover span{
  transition: .3s ease-in-out;
}

.back{
  text-align: center;
  margin-top: 30px;
}
</style>